.project-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.project-left{
    height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
    z-index: 1;

    .project-contents{
        position: relative;
        left: 2.5rem;
        h1{
            font-family: Ogg;
            font-weight: 100;
            font-size: 4.1rem;
            text-transform: uppercase;
        }
    
        .sub-section{
            width: 70%;
            display: flex;
            justify-content: center;
            .rectangle{
                width: 8px;
                height: 44px;
                background-color: rgb(194, 194, 194);
            }
            .sub-header{
                display: flex;
                flex-direction: column;
                justify-self: center;
                p{
                    // line-height: 15px;
                    font-size: 0.85rem;
                    letter-spacing: -0.1px;
                    position: relative;
                    bottom: 4.6px;
                    left: 0.7rem;
                    color: rgb(131, 131, 131);
                }
            }
        }
    }

    
}

.project-right{
    width: 650px;
    // height: 600px;
    position: relative;
    right: 2.5rem;
    overflow: hidden;
    
    // right: 2.8rem;
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: white;
    }
    .project-image{
        display: flex;
        
        img{
            width: 100%;
            height: 100%;
            
            
        }
    }
}



