@font-face {
    font-family: Ogg;
    src: url('../assets/fonts/Ogg-Roman.otf');
}

@font-face {
    font-family: mplus-light;
    src: url('../assets/fonts/Mplus1-Light.ttf');
}

@font-face {
    font-family: mplus-med;
    src: url('../assets/fonts/Mplus1-Medium.ttf');
}

@font-face {
    font-family: mplus-reg;
    src: url('../assets/fonts/Mplus1-Regular.ttf');
}