.about-container{
    // height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
    .home-contents{
        width: 75%;
        position: fixed;
    }

    .about-section{
        height: 65vh;
        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-self: center;

        h1{
            font-family: Ogg;
            font-weight:  100;
            font-size: 3rem;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }

        .background-section{
            width: 100%;
            line-height: 1.2rem;
            .background-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                line-height: 3.5rem;
            }

            

            

            .background-text{
                p{
                    font-size: 0.95rem;
                }
            }

        }

        .background-title{                    
            height: 100%;
            display: flex;
            position: relative;
            left: 1%;
            transform: translateX(1%);
            line-height: 0;
            font-family: Ogg;
                             

            :first-child{
                position: relative;
                bottom: 0.8vh;
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
            
            :last-child{
                writing-mode: vertical-lr;
                text-orientation: upright;
                letter-spacing: 2px;   
            }
        }

        .background-sub-contents{
            position: relative;
            left: 3.5rem;
            bottom: 1rem;

            .ability-text,
            .redirect-work{
                position: relative;
                left: 2.5rem;
            }
        }

        .background-sub{
            display: flex;
            align-items: center;
            
            p{
                position: relative;
                font-size: 1.15rem;
                left: 1.2rem;
            }
        }

        .ability-section{
            width: 88%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            

            .image-section{
                img{
                    height: 270px;
                }
            }

            .text-section{
                line-height: 1rem;
                .ability-header{
                    line-height: 1.8rem;

                    :first-child{
                        position: relative;
                        right: 3.5rem;
                    }
                }

                .ability-text{
                    
                }

                .redirect-work{
                    display: flex;
                    align-items: center;
                    .circle{
                        position: relative;
                        left: 0.8rem;
                        height: 40px;
                        width: 40px;
                        border-radius: 50px;
                        background-color: gray;
                    }
                }

            }

            
        }

        .skills-section{
            width: 90%;
            margin: 0 auto;
            .skills-text-section{
                display: flex;
                justify-content: space-between;
                .text-contents{

                    .text-item{
                        line-height: 1rem;
                        :nth-child(even){
                    
                            :last-child{
                                font-family: 'Georgia', serif;
                                font-weight: 100;
                                font-style: italic;
                                color: rgb(136, 136, 136);
                                word-spacing: 30px;
                            }
                        }
                        :first-child{
                            p{
                                font-family: Ogg;
                                font-weight: 100;
                                letter-spacing: 0.4px;
                                font-size: 1.3rem;
                            }
                        }

                        :last-child{
                            
                            :first-child,
                            :last-child{
                                position: relative;
                                left: 4.2rem;
                            }
                            
                            :last-child{
                                position: relative;
                                left: 6rem;
                            }

                        }

                        .skills-text{
                            display:flex;
                            align-items: center;

                                p{
                                    position: relative;
                                    left: 1rem;
                                }
                            
                        }
                    }
                }

                .skills-title{
                    height: 100%;
                    display: flex;
                    :first-child{
                        font-family: Ogg;
                        -webkit-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }
                    
                    :last-child{
                        position: relative;
                        top: 1.3rem;
                        writing-mode: vertical-lr;
                        text-orientation: upright;
                        letter-spacing: 2px;   
                    }
                }
            }
        }


        
    }

    .footer{
        height: 40vh;
    }
}

    
