.home-container{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    visibility: hidden;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;

    .home-contents{
        width: 100%;


        .header{
            width: 85%;
            height: 23vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            .header-contents{
                width: 100%;
                display: flex;
                justify-content: space-between;
                line-height: 10px;
                font-size: 0.95rem;
                
                    .header-left{
                        h2{
                            font-weight: 400;
                        }

                        p{
                            color: #afafaf;
                        }
                    }

                    .header-right{
                        height: 100%;
                        // width: 11%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }
            }
        }

        .project-container{
            height: 100vh;
            // background-color: black;          
        }
        
    }

    
    
}

