.home-container{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;

    .home-contents{
        // position: absolute;
        // overflow: hidden;
        width: 100%;
        // height: 300vh;

        .header{
            width: 90%;
            display: flex;
            margin: 0 auto;
            .header-contents{
                width: 100%;
                display: flex;
                justify-content: space-between;
                
                    
                    .header-right{
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
            }
        }
        
    }

    
    .project-container{
        height: 100vh;
        // background-color: black;
    }
}

